/* src/app/layout.module.scss */
@import '../styles/variables.scss';

.container {
  max-width: 1024px; // Max width for PC screens
  margin: 0 auto; // Centers the container
  padding: 0 20px; // Adds side padding for mobile
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @include mobile {
    padding: 0 16px; // Slightly tighter padding on mobile phones
  }
}

.main {
  flex-grow: 1; // Pushes the footer to the bottom
  padding-top: 40px;
}