@import "../../../styles/variables.scss";

.text {
    color: $text-gray;
    font-size: 16px;
    font-weight: 400;
}

.button {
    display: inline-flex;
    align-items: center;
    color: $text-white;
    border: 1px solid $primary-orange;
    cursor: pointer;
    background: transparent;
    transition: all 0.5 ease-in-out;
    font-size: 16px;
    font-weight: 500;
    padding: 4px 16px;

    &:hover {
        background-color: rgba(199, 120, 221, 0.1);
    }
}